
src/Nop.Plugin.Payments.PagSeguro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

src/Nop.Plugin.Payments.PagSeguro/obj/Debug/Nop.Plugin.Payments.PagSeguro.csproj.CopyComplete

src/Nop.Plugin.Payments.PagSeguro/obj/Debug/Nop.Plugin.Payments.PagSeguro.csproj.CoreCompileInputs.cache

src/Nop.Plugin.Payments.PagSeguro/obj/Debug/Nop.Plugin.Payments.PagSeguro.csproj.FileListAbsolute.txt

src/Nop.Plugin.Payments.PagSeguro/obj/Debug/Nop.Plugin.Payments.PagSeguro.csprojAssemblyReference.cache

src/Nop.Plugin.Payments.PagSeguro/obj/Debug/Nop.Plugin.Payments.PagSeguro.dll

src/Nop.Plugin.Payments.PagSeguro/obj/Debug/Nop.Plugin.Payments.PagSeguro.csprojResolveAssemblyReference.cache

src/Nop.Plugin.Payments.PagSeguro/obj/Debug/Nop.Plugin.Payments.PagSeguro.pdb

src/Nop.Plugin.Payments.PagSeguro/obj/Release/Nop.Plugin.Payments.PagSeguro.csproj.CopyComplete

src/Nop.Plugin.Payments.PagSeguro/obj/Release/Nop.Plugin.Payments.PagSeguro.csproj.CoreCompileInputs.cache

src/Nop.Plugin.Payments.PagSeguro/obj/Release/Nop.Plugin.Payments.PagSeguro.csproj.FileListAbsolute.txt

src/Nop.Plugin.Payments.PagSeguro/obj/Release/Nop.Plugin.Payments.PagSeguro.csprojAssemblyReference.cache

src/Nop.Plugin.Payments.PagSeguro/obj/Release/Nop.Plugin.Payments.PagSeguro.dll

src/Nop.Plugin.Payments.PagSeguro/obj/Release/Nop.Plugin.Payments.PagSeguro.pdb
